<h1>
    ¡Hola! {{email}}
</h1>
<h2>
    Recientemente solicitaste restablecer tu contraseña para tu cuenta de <a href="https://tairu.vercel.app"> Tairu </a>. Para continuar con el proceso, por favor usa este código de verificación: <strong>{{code}}</strong>
</h2>

<p>
    Recuerda, si no has sido tú quien solicitó el cambio de contraseña, por favor ignora este mensaje.
</p>